/* #Gantt td:not(:empty) {
    background-color: #cfe8d5;
} */

#Gantt {
    font-family: sans-serif;
    & thead {
        & tr {
            & th:first-child {
                background-color: white;
            }

            & th:not(:first-child){
                background-color: firebrick;
                width: 5.7%;
            }
        }

        position: sticky;
        top: 0px;
    }
    & tbody {
        & tr {
            max-width: 20%;
            text-align: left;
            word-wrap: break-word;
            
            & .main {
                text-align: left;
            }
            
            & .sub {
                padding-left: 3ch;
            }

            & .sub2 {
                padding-left: 6ch;
            }

            & .completed {
                    background-color: lightgreen;
            }

            & .ongoing {
                background-color: lightblue;
            }
    
            & .behind {
                background-color: lightcoral;
            }

            & .omitted {
                text-decoration: line-through;
                background-color: gray;
            }

        }
    }
}