.img_med {
    display: block;
    max-width:400px;
    max-height:400px;
    width: auto;
    height: auto;
}

.img_lrg {
    display: block;
    max-width:800px;
    max-height:800px;
    width: auto;
    height: auto;
}

figure { 
  display: table; 
}

figcaption { 
  text-align: center;
  display: table-caption; /* aligns size to the table of the figure */
  caption-side: bottom /* makes the caption appear underneath the image/figure */
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 0px 5px 0px 5px;
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
  height: 100vh;
  
}
aside iframe {
  height: 100%;
}

#Gantt td:not(:empty) {
    background-color: #cfe8d5;
}