
/* changed some values in body, h1 ..., p since the values seemed small to me (NK) I'm blind*/
body {
    font-family: Georgia, serif;
    font-size: 18px;
}

h1 {
    font-size: 2.2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.6rem;
}

p, li {
    line-height: 1.6;
    text-align: justify;
}

p {
    text-indent: 15px;
}

figcaption {
    font-style: italic;
    text-align: center;
    font-size: 90%;
}

.img_med {
    display: block;
    max-width:400px;
    max-height:400px;
    width: auto;
    height: auto;
}

.img_lrg {
    display: block;
    max-width:800px;
    max-height:800px;
    width: auto;
    height: auto;
}

figure { 
  display: table; 
}

figcaption { 
  text-align: center;
  display: table-caption; /* aligns size to the table of the figure */
  caption-side: bottom /* makes the caption appear underneath the image/figure */
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 0px 5px 0px 5px;
}

aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
  height: 100vh;
  
}
aside iframe {
  height: 100%;
}


/* HTML5 Compatibility */
header,
footer,
section,
article,
nav,
aside,
main {
    display: block;
}