embedded/LiF_EC/.pio
embedded/LiF_STM/Debug/**
.vscode/*
!.vscode/tasks.json
embedded/LiF_STM/.settings/language.settings.xml
embedded/LiF_STM/.vscode/c_cpp_properties.json

embedded/LiF_EC/.settings/language.settings.xml
embedded/LiF_EC/.vscode/c_cpp_properties.json
embedded/LiF_EC/.vscode/c_cpp_properties.json
embedded/LiF_EC/.vscode/launch.json

**/.settings/language.settings.xml
RPi/LiF_SC/obj/*
RPi/LiF_SC/main


# SSH credentials must never be stored in this repository
*.pem
*.key
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub


# KiCAD
KiCAD/LiF_FC-PCB_rev1/LiF_FC-PCB_rev1-backups/*.zip
KiCAD/LiF_FC-PCB_rev1/LiF_FC-PCB_rev1-backups/
KiCAD/LiF_FC-PCB_rev1/~LiF_FC-PCB_rev1.kicad_sch.lck

KiCAD/LiF_FC-PCB_rev1/LiF_CustomPCB-backups/*.zip
KiCAD/LiF_FC-PCB_rev1/LiF_CustomPCB-backups/

KiCAD/LiF_FC-PCB_rev1/LiF_FC_IO-PCB_rev1-backups/*.zip
KiCAD/LiF_FC-PCB_rev1/LiF_FC_IO-PCB_rev1-backups/

